.book-show-page {
    // width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    z-index: 3;
}

.book-info {
    grid-column: 1;
    display: grid;
    grid-template-columns: 185px 1fr;
    width: 100%;
    padding: 3px ;
    // border-bottom:  1px solid #EBE8D5;
    position: relative;

}

.book-info-col-1{
    grid-column: 1;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;

}

.book-info-col-1 img {
    width: 100%;
    margin-bottom: 10px;
    // box-shadow:  #ddd 0px 5px 5px;
    border-radius: 8bpx;
}

.book-info-col-2{
    grid-column: 2;
    margin:0 10px;
    box-sizing: border-box;
    

}

.book-info-col-2 h2 {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #333333;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    padding: 0px 0px 2px 0px;
    margin: 4px 0px 4px 0px;
}
.book-info-col-2 h3 {
    color: #333;
    font-size: 16px;
    font-family: "Merriweather", "Georgia", serif;
    line-height: 150%;
}

.book-info-col-2 p {
    line-height: 21px;
    font-family: "Merriweather", "Georgia", serif;
    font-size: 14px;
}

.book-basic-info {
    border-bottom:  1px solid #EBE8D5;
    padding-bottom: 5px;;
}


.reviews {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.reviews h2 {
    padding: 5px 0;
    width: auto;
    // height: 24px;
    // margin-bottom: 0;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #EBE8D5;
}

.reviews .rating-review-form {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.reviews a {
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    margin: 0 5px;
}

.book-more-detail {
    padding: 5px 0;
}

.book-more-detail li{
    padding: 3px 0;
    display: block;
    min-height: 10px;
}

.book-more-detail .attr {
    color: #382110;
    font-weight: bold;
    width: 25%;
    float: left;
    margin: 1px 0px;
    display: block;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 12px;
}

.book-more-detail .value {
    float: left;
    min-width: 10px;
    width: 75%;
    margin: 1px 0px;
    display: block;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 12px;
}

.more-detail.hidden{
    display:none;
}

.book-more-detail a {
    margin-right: 5px;
    line-height: 2;
    color: #00635d;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    font-size: 12px;
}