


.colorsssssss{
    color:#00635d;
    color:#EBE8D5;
    color: #F4F1EA;
    color: #382110;
    color:#fdd05f;
    color:#D6D0C4;
    color:#F9F7F4;
    color: #A2A19F;
}

复古魅力 {
    C:#EFD9A7;
    C:#C97F04;
   C: #617F7F;
    C:#192D2E;
}



.font-familys {
    font-family: "Merriweather", "Georgia", serif;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

}