.book-rating {
    display: flex;
    align-items: end;
}

.book-rating .score {
    font-size: 30px;
    font-weight: bold;
    padding: 8px;
    font-family: "Merriweather", "Georgia", serif;;

}

.book-rating .rate-num {
    padding: 8px;
    font-size: 14px;
}
.book-rating .rate-num .num {
    padding: 4px 0;
}