.stars-container{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-right: 3px;
    flex-wrap: nowrap;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 100%;
}


.stars, .stars-show{
    // width: 20%;
    width: 28px;
    height: 28px;
    // padding: 2px;
    // background-color: green;
    // background-size: 80% 80%;
    background-image: url(asset_path('moon-regular.png'));
    background-size: contain;
    background-repeat: no-repeat;

}

.stars-show {
    width: 16px;
    height: 16px;
}

.stared {
    // background-color: purple;
    background-image: url(asset_path('moon-solid.png'));
    

}
// .stared:first-of-type{
//     transform: scale(2);
//     transition-duration: 5s;;
//     animation-fill-mode: forwards
// }


.stars-container:hover  .stars {
    // background-color: green;
    background-image: url(asset_path('moon-regular.png'));

}
.stars-container .stars:hover, .stars:hover ~ .stars {
    // background-color:purple;
    background-image: url(asset_path('moon-solid.png'));

}

.half-star {
    background-image: asset_url('moon-half.png');
}