.review-list-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin: 8px 0;
}

.review-list-item img{
    grid-column: 1;
    object-fit: contain;
    width: 100%;
    // margin: 4px;
    padding: 4px;
    box-sizing: border-box;
}

.review-list-item .review-item {
    grid-column: 2;
}
.review-item-nav{
    display:flex;
    padding: 3px 0;
    font-size: 14px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    align-items: center;
}

.review-author {
    color: #00635d;
    font-weight: bold;
    padding-right: 3px;
}
.review-item-nav p{
    padding-right: 3px;;
}

.review-body{
    margin: 10px 0;
    font-family: "Merriweather", "Georgia", serif;
    line-height: 21px;
    font-size: 14px;
}

