.session-form {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    padding: 20px;
    width: auto;
    margin: 0 auto;
    // margin-top: 50px;
    border: 1px solid #EBE8D5;
    border-radius: 5px;
    max-width: 1000px;
}



.session-form label {
    padding: 3px 0;
    margin: 5px 0;
    box-sizing: border-box;
    display: block;
}


.session-form div {
    margin: 10px 2px
}

.session-form input {
    padding: 10px 8px;
    background: #FFFFFF;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    width: 300px;
}   

.session-form input:focus {
    background-color: rgb(250, 250, 250);
    box-shadow:0 0 3px #D6D0C4;
}

// nav .session-form, .masthead .signup-form{
//     padding: 5px 0;
//     width: auto;
//     margin-top: 0;
//     margin-right: 20px;
//     border: none;
//     position: relative;

// }

.unlogged .session-form{

    border: none;
    padding: 5px 0;
    width: auto;
    margin-top: 0;
    margin-right: 20px;
    border: none;
    position: relative;


}


nav .session-form label, .masthead label{
    display: none;
}


nav .signin-form {
    display: flex;
    font-size: 13px;
    margin-right: 20px;
}

nav .signin-form input {
    width: 120px;
    padding: 5px;
}

.masthead .session-form {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: 100%;
    // box-shadow: 0 -1px -2px rgba(0,0,0,0.15);
    border: 0;

}

.masthead .signup-form {
    align-self: flex-end;
    margin: 15px 50px;
    position: relative;
}

.session-form button {
    border-radius: 4px;
    border: 0;
    padding: 8px;
    background-color: #fdd05f;
    margin-left: 3px;
}

.session-form button:hover {
    background-color: #ffdb81 ;
}

.unlogged .signin-form button {
    margin:8px 3px;
}

.error-messages{
  position: absolute;
  z-index: 2;
  padding: 5px;
  border: 1px solid #00635d;
  border-radius: 0.5rem;


  background-color:white;
}
.unlogged nav .error-messages {
    top: 35px; 
    left: 20%;
}

.unlogged .masthead .error-messages {
    top: 0;
    transform: translate(0, -80%);
    align-self: center;
}



.single-page-session {
    background-image: url(asset_path('bg-texture.jpg'));
    background-repeat: repeat;
    position: relative;
    width: 100%;
    height: 800px;
}

.single-page-session .session-form {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.single-page-session .signin-form button:last-child{
    margin-left: 10px;;
}

.unlogged input {
    font-family:"Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.single-page-session .session-form {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-page-session .session-form input {
    width: 400px;
}

.single-page-session .error-messages {
    top: 0;
    transform: translate(0, -80%);
}

 .signup.error-messages {
    padding-left: 20px;

}

 .signup.error-messages li {

    padding: 2px 0;
    // padding-left: 16px;
    list-style-type: circle;
}

// .error-messages li::before {
//     content: &spades; 
//     margin-left: -20px;  
//     margin-right: 10px;
// }
