.shelf-form {
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    display: flex;
    // padding:5px;
    box-sizing: border-box;
    margin-right: 15px;
    margin: 3px;
    position: relative;
    align-items: center;

}
.status-bar {
    flex-grow: 1;
    height: 22px;
}

.status-bar p {
    padding:4px;
    font-size: 14px;
}

.status-bar .added{
    background-color: white; 
    display: flex; 
}
.status-bar .added .check-mark button{
    background: asset_url('checkmark.png');
    height: 16px;
    width: 16px;
    background-size: contain;
    margin: 3px;
    background-repeat: no-repeat;
}

.status-bar .added .check-mark button:hover {
    background: asset_url('delete');
}

// .status-bar .added .check-mark button {
//     width: 100%;
//     height: 100%;
// }

.status-bar .unadded {
    background-color: #fdd05f;
    color: white;
}

.status-bar .check-mark {
    
}

.add-shelf {
    width: 26px;
    position: relative;
}

.shelf-trigger {
    height: 22px;
    position: relative;
    background-color: #fdd05f;
    // border: 4px solid #382110;
    border-radius: 1rem;
    border-radius: 0 3px 3px 0;
}

.arrow-down{
    width: 0;
    border-top: 5px white solid;
    border-left: 5px solid transparent;
    border-right:  5px solid transparent;
    margin:  auto;
    position: absolute;
    top: 40% ;
    left: 30%;

}
.shelf-drop-down {
    display: none;
    border:1px solid #DDDDDD;
    border-radius: 3px;
    padding: 3px;
    font-size: 13px;
    right:0;
    width: 160px;
    margin-top: 5px;
}
.shelf-drop-down li {
    display: block;
    padding: 5px;
    z-index: 3;
}
.shelf-drop-down.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background-color: white;
}

.shelf-drop-down.show button{
    font-weight: bold;
}

.shelf-drop-down.show input {
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #EBE8D5;
    width: 100%;
    box-sizing: border-box;
}