.tag-showpage {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.tag-show-col-1 {
    padding:20px ;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    grid-column: 1;
    box-sizing: border-box;
}


.tag-showpage .tag-nav {
    // font-weight: bold;
    border-bottom: 1px dashed #DDDDDD;
    padding: 8px 0;
    font-size: 20px;
}

.tag-showpage .tag-nav .tag {
    font-weight: bold;
}