.tagshelf-show{
    max-width: 1000px;;
    padding: 20px 10px;
    margin: 0 auto;
    box-sizing: border-box;

}


.tagshelf-nav{
    font-size: 20px;
    padding: 0 0 10px  0;
    font-weight: bold;
    color:#00635d;
    line-height: 1.3;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    border-bottom: 1px solid #EBE8D5;

}


.tagshelf-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    // padding: 5px;
}

.tagshelf-sidbar {
    grid-column: 1;
}

.tagshelf-titles {
    width:auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EBE8D5;
    align-items: start;
    margin: 4px 8px 4px 0;
}

.tagshelf-titles h3 {
    font-weight: bold;
    padding: 4px 0;

}

.tagshelf-titles ul{
    display: flex;
    flex-direction: column;
    padding: 3px 0;
}

.tagshelf-titles li {
    width: 100%;
    padding: 4px 0;
    border-top: 1px dashed #DDDDDD;
}

.tagshelf-titles li:first-child {
    border-top: none;
}

.tagshelf-titles button{
    background: transparent;
    padding: 0;
    border-bottom: 0;
    color:#00635d
}

.tagshelf-show .book-list-container {
    grid-column: 2;
}

.tagshelf-show .book-list-container a {
    position: relative;
}

// .tagshelf-show .button-container {
//     position: absolute;
//     margin: 4px;
//     width: 16px;
//     height: 16px;
//     background-color: white;
//     // right: 0;
//     // top: 0;
// }


.tagshelf-show .book-list-container button {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 4px;
    width: 16px;
    height: 16px;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: asset_url("close.png");
    
    
}

// .tagshelf-show .book-list-container .button-container::before {
    //     position: absolute;
    //     content: '';
    //     width: 16px;
    //     height: 16px;
    
    // }
    .tagshelf-show .book-list-container button:hover {
   
        transform: translate(-50%, -50%) scale(1.2) ;
    // background-color:black;

}